table,
th,
td {
  border: black;
  border-collapse: collapse;
  padding: 0px;
  height: 70%;
  width: 100%;
}
h1 {
  border-style: double;
  text-align: center;
  border-width: 5px;
  border-color: black;
  background-color: black;
  color: goldenrod;
}

body {
  background-color: black;
}
.button1 {
  background-color: goldenrod;
  border: black;
  color: goldenrod;
  font-family: "Times New Roman", Times, serif;
  padding: 15px 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
